# SPDX-FileCopyrightText: 2026 Agathe Porte
#
# SPDX-License-Identifier: GPL-3.0-only

[Unit]
Description=Export hdparm stats for Prometheus
After=syslog.target network.target

[Service]
Type=exec
ExecStart=/opt/prometheus_diskspin_exporter.py "" 28101

[Install]
WantedBy=multi-user.target
