[Unit]
Description=Export hdparm stats for Prometheus
After=syslog.target network.target

[Service]
Type=exec
ExecStart=/opt/prometheus_diskspin_exporter.py "" 28101

[Install]
WantedBy=multi-user.target
