# SPDX-FileCopyrightText: 2026 Agathe Porte
#
# SPDX-License-Identifier: GPL-3.0-only

name: REUSE Compliance Check

on: [push, pull_request]

permissions:
  contents: read

jobs:
  reuse-compliance-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v6
